{% extends "base.html" %} {% block content %}
<div id="mainBody" class="jumbotron">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation">
            <a href="#allworkouts-list" aria-controls="allworkouts-list" 
               role="tab" data-toggle="tab">All Workouts</a>
        </li>

        <li role="presentation" class="active">
            <a href="#myworkouts-list" aria-controls="myworkouts-list" 
               role="tab" data-toggle="tab">Workouts I created</a>
        </li>

        <li role="presentation">
            <a href="#myentries-list" aria-controls="myentries-list" 
               role="tab" data-toggle="tab">My entries</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="allworkouts-list" class="list-group tab-pane" role="tabpanel">
            {% for workout in all-workouts %}
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{workout.workout_title}}</h4>
                <p class="list-group-item-text">{{workout.workout_text|ellipsify}}</p>

                <h0 style='display:none'>{{workout.workout_id}}</h0>
                <h1 style='display:none'>{{workout.workout_text}}</h1>
                <h2 style='display:none'>{{workout.start_date}}</h2>
                <h3 style='display:none'>{{workout.end_date}}</h3>
            </a>
            {% endfor %}
        </div>

        <div id="myworkouts-list" class="list-group tab-pane active" role="tabpanel">
            {% for workout in my-workouts %}
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{workout.workout_title}}</h4>
                <p class="list-group-item-text">{{workout.workout_text|ellipsify}}</p>
            </a>
            {% endfor %}
            <button id="showCreateDialogButton" class="btn btn-primary btn-lg">Create Workout</button>
            <!-- <a id="createWorkoutButton" class="btn btn-primary btn-lg" href="#"  -->
            <!--    data-toggle="modal" data-target="#createWorkoutModal">Create Workout</a> -->
        </div>

        <div id="myentries-list" class="list-group tab-pane" role="tabpanel">
            {% for an-entry in my-entries %}
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{an-entry.workout_title}}</h4>
                <p class="list-group-item-text"><i>{{an-entry.source_text|ellipsify}}</i></p>
                <p class="list-group-item-text"><i>{{an-entry.date_sent_in}}</i></p>
            </a>
            {% endfor %}
        </div>
    </div>


    <div id="createWorkoutModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a Workout</h4>
                </div>
            
                <div class="modal-body">
                    <form id="createWorkoutForm" action="/createWorkout" method="POST">
                        {% csrf-field %}
                        <div id="workoutTitleDiv" class="input-group">
                          <label for="workoutTitle">Title:</label>
                          <input type="text" class="form-control" id="workoutTitle" name="title" 
                                 placeholder="Title" aria-describedby="basic-addon1">
                          <br/>
                          <div class="alert alert-danger myerror" role="alert error">
                            <a href="#" class="alert-link">This field is required</a>
                          </div>
                        </div>
                        <br/>

                        <div id="workoutDescDiv" class="form-group">
                          <label for="workoutDesc">Description:</label>
                          <textarea class="form-control" rows="5" id="workoutDesc" name="desc"></textarea>
                          <div class="alert alert-danger myerror" role="alert">
                            <a href="#" class="alert-link">This field is required</a>
                          </div>
                        </div>

                        <div id="startDateDiv" class='form-group'>
                            <label>Start date time(yyyy-MM-dd hh:mm:ss)</label>
                            <input type='text' class="form-control" name="startDateInput" data-format="yyyy-MM-dd hh:mm:ss" />
                            <div class="alert alert-danger myerror" role="alert error">
                              <a href="#" class="alert-link">Please enter a valid date</a>
                            </div>
                        </div>

                        <div id="endDateDiv" class='form-group'>
                            <label>End date time(yyyy-MM-dd hh:mm:ss)</label>
                            <input type='text' class="form-control" name="endDateInput" data-format="yyyy-MM-dd hh:mm:ss" />
                            <div class="alert alert-danger myerror" role="alert error">
                              <a href="#" class="alert-link">Please enter a valid date</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="createWorkoutButton">Create It! Yeah</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- end of modal-content -->
        </div>

    </div>

</div>
{% endblock %} 

{% block page-scripts %}
<script type="text/javascript">
    var username = "{{user.username}}";
    var userId = "{{user.user_id}}";
    
    function isEmpty(str) {
        return (!str || 0 === str.length);
    }

    function OnCreateWorkOutClick() {
        jQuery('#showCreateDialogButton').click(function() {
            jQuery('#createWorkoutModal').modal('show');

            var now = new Date();
            //The following is possible because of the date.format.js file
            var nowAsText = now.format("yyyy-mm-dd hh:MM:ss");

            jQuery('#createWorkoutModal input[name=startDateInput]').val(nowAsText);
            hideErrorFields();
            OnCreateYeahClicked();
        });
    }

    function hideErrorFields() {
        jQuery('#workoutTitleDiv .myerror').hide();
        jQuery('#workoutDescDiv .myerror').hide();

        jQuery('#startDateDiv .myerror').hide();
        jQuery('#endDateDiv .myerror').hide();
    }

    function OnCreateYeahClicked() {
        jQuery('#createWorkoutButton').click(function(e) {
            e.preventDefault();
            var titleText = jQuery('#workoutTitle').val();
            var descText = jQuery('#workoutDesc').val();

            var startDate = jQuery('input[name=startDateInput]').val();
            var endDate = jQuery('input[name=endDateInput]').val();

            //console.log("Start: " + startDate + ", endDate: " + endDate);
            hideErrorFields();
            validateWorkoutData(titleText, descText, startDate, endDate);
        });
    }

    function validateWorkoutData(title, desc, start, end) {
        var errorPresent = false;

        var dateOkRegex = /\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}/;
        var startDateOk = dateOkRegex.test(start);
        var endDateOk = dateOkRegex.test(end);
        //console.log("startDateOk: " + startDateOk + ", endDateOk: " + endDateOk);

        if (isEmpty(title)) {
            errorPresent = true;
            jQuery('#workoutTitleDiv .myerror').show();
        }
        if (isEmpty(desc)) {
            errorPresent = true;
            jQuery('#workoutDescDiv .myerror').show();
        }
        if (isEmpty(start)) {
            errorPresent = true;
            jQuery('#startDateDiv .myerror').show();
        } else if(!startDateOk) {
            errorPresent = true;
            jQuery('#startDateDiv .myerror').show();
        }
        if (isEmpty(end)) {
            errorPresent = true;
            jQuery('#endDateDiv .myerror').show();
        } else if(!endDateOk) {
            errorPresent = true;
            jQuery('#endDateDiv .myerror').show();
        }
        if (!errorPresent) {
            var hiddenField = '<input type="hidden" name="username" value="{{user.username}}" />';

            jQuery('#createWorkoutForm').prepend(hiddenField);
            var theStartDate = jQuery('#createWorkoutForm input[name=startDateInput]').val();
            var theEndDate = jQuery('#createWorkoutForm input[name=endDateInput]').val();

            jQuery('#createWorkoutForm').submit();
        }
    }

    function forWorkoutClicked() {
        //jQuery('#allworkouts-list .list-group-item:even')
        //.css(
        //    {'background-color': '#dddddd', 'color': '#666666'}
        //);
        jQuery('#allworkouts-list .list-group-item').each(function(i) {
            //var $this = $(this);
            var aWorkoutDiv = $(this);
            aWorkoutDiv.click(function() {
                console.log("a list item clicked.");
                
                var workoutId = $(this).find('h0').text();
                var workoutTitle = $(this).find('h4').text();
                var workoutDesc = $(this).find('h1').text();
                var workoutStart = $(this).find('h2').text();
                var workoutEnd = $(this).find('h3').text();
                console.log("Workout title: " + workoutTitle + ", workout desc: " + workoutDesc 
                             + ", start: " + workoutStart + ", end: " + workoutEnd);
    
                //----
                jQuery.get('customTemplates/viewWorkout.html?eee=' + Math.random(), function(data) {
                    jQuery('#viewWorkoutModal').remove();

                    jQuery('#mainBody').append(data);
                    jQuery('#viewWorkoutModal').modal('show');
                    console.log("Data Ajaxed!" + data);

                    jQuery('#viewWorkoutModal h4').text(workoutTitle);

                    jQuery('#viewWorkoutModal').find('textarea[name=workoutDesc]').text(workoutDesc);
                    jQuery('#viewWorkoutModal').find('input[name=startDateInput]').val(workoutStart);
                    jQuery('#viewWorkoutModal').find('input[name=endDateInput]').val(workoutEnd);

                    jQuery('#viewWorkoutModal input[type=text], #viewWorkoutModal textarea').prop('readonly', true);

                    jQuery('#createSubmissionButton').click(function() {
                        var redirectUrl = context + "/submissionPage?workoutId=" + workoutId 
                                          + "&userId=" + userId;
                        console.log("Redirect url: " + redirectUrl);

                        window.location.href = redirectUrl;
                    });
                    jQuery('#viewEntriesButton').click(function() {
                        var redirectUrl = context + "/viewWorkoutEntries?workoutId=" + workoutId 
                                          + "&workoutTitle=" + workoutTitle;
                        console.log("Redirect url: " + redirectUrl);
                        window.location.href = redirectUrl;
                    });
                }, "text");
            });
        });
    }

    jQuery(document).ready(function() {
        OnCreateWorkOutClick();
        forWorkoutClicked();
    });
</script>

{% endblock %}
