{% extends "base.html" %}
{% block content %}




  <!-- <ul class="nav nav-pills"> -->
  <!--   <li role="presentation" class="active"><a href="#">Workouts</a></li> -->
  <!--   <li role="presentation"><a href="#">Coders</a></li> -->
  <!-- </ul> -->

  <div class="jumbotron">
    <h1>Welcome to gidicodersworkout
      <span><a class="btn btn-primary btn-lg" 
               href="{{servlet-context}}/login">Enter &raquo;</a>
    </span></h1>
    
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active">
        <a href="#">Workouts</a>
        
        <!-- <div class="container"> -->
        <!--   <div class="row row-centered"> -->
        <!--     {% for workout in workouts %} -->
        <!--     <div class="col-xs-3 col-centered"> -->
        <!--       <div class="item"> -->
        <!--         <div class="content">{{workout}}</div> -->
        <!--       </div> -->
        <!--       {% endfor %} -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
      </li>
      
      <li role="presentation">
        <a href="#">Coders</a>
        <ul>
          {% for user in users %}
          <li> {{user}} </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>


{% endblock %}

