{% extends "base.html" %} 

{% block content %}
<div id="mainBody" class="jumbotron">
    <h1>Welcome to gidicodersworkout
      <span><a class="btn btn-primary btn-lg" 
               href="{{servlet-context}}/login">Enter &raquo;</a>
    </span></h1>

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#workouts-list" aria-controls="workouts-list" role="tab" data-toggle="tab">Workouts</a>
        </li>

        <li role="presentation">
            <a href="#coders-list" aria-controls="coders-list" role="tab" data-toggle="tab">Coders</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="workouts-list" class="list-group tab-pane active" role="tabpanel">
            {% for workout in workouts %}
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{workout.workout_title}}</h4>
                <p class="list-group-item-text">{{workout.workout_text}}</p>
            </a>
            {% endfor %}
        </div>

        <div id="coders-list" class="list-group tab-pane" role="tabpanel">
            {% for user in coders %}
            <a href="#" class="list-group-item"> {{user.first_name}} - {{user.last_name}}</a> {% endfor %}
        </div>
    </div>

</div>
{% endblock %} 
